html {
  color:blue;
}

  p {
    font-weight: normal;
    color: blue;
    &.red {
      color: red;
    }
  }

// 変数のテスト
$fontColor: #525252;

h1 {
  color: $fontColor;
display: flex;
color: blue;

}
h2 {
  color: $fontColor;
  display: flex;
  color: red;
}
